doctype html
html(lang="en", ng-app="dogekb")
    head
        title DogeKB

        //- Bootstrap core CSS 
        link(href="/vendor/bootstrap/css/bootstrap.min.css", rel="stylesheet")

        //- My CSS
        link(href="/main.css", rel="stylesheet")
    body
        //- Navbar
        div(ng-controller="nav").navbar.navbar-inverse.navbar-fixed-top
            div.container
                div.navbar-header
                    a.navbar-brand(ui-sref="home") DogeKB
                div.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li(ng-class="{active: activeState=='home'}")
                            a(ui-sref="home") Home
                        li(ng-class="{active: activeState=='about'}")
                            a(ui-sref="about") About
                        li(ng-class="{active: activeState=='contact'}")
                            a(ui-sref="contact") Contact
        //- Main Content
        div.container
            div.starter-template
                div(ui-view)

        //- Angularjs
        script(src="/vendor/angular/angular.min.js")
        //- Angular-ui-router
        script(src="/vendor/angular-ui-router/angular-ui-router.min.js")
        //- My js
        script(src="/main.js")
