doctype html
html(lang="en", ng-app="dogekb")
    head
        title DogeKB

        //- Bootstrap core CSS 
        link(href="/vendor/bootstrap/css/bootstrap.min.css", rel="stylesheet")

        //- My CSS
        link(href="/main.css", rel="stylesheet")
    body
        //- Navbar
        div(ng-controller="nav").navbar.navbar-inverse.navbar-fixed-top
            div.container
                div.navbar-header
                    a.navbar-brand(ui-sref="home") DogeKB
                div.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li(ng-class="{active: activeState=='home'}")
                            a(ui-sref="home") Home
                        li(ng-class="{active: activeState=='contact'}")
                            a(ui-sref="contact") Contact
                    //- Auth Status
                    div(ng-controller="authStatus")
                        //- User is not logged in
                        div(ng-show="!loggedIn")
                            div.navbar-right.navbar-form
                                a(ui-sref="login").btn.btn-success.btn-sm Login
                                a(ui-sref="signup").btn.btn-success.btn-sm Signup
                        //- User is logged in
                        div(ng-show="loggedIn")
                            div.navbar-right
                                a.dropdown-toggle.btn.btn-success.btn-sm.navbar-btn
                                    | {{email}} 
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(ui-sref="logout") Logout

        //- Main Content
        div.container
            div(ui-view)

        //- Angularjs
        script(src="/vendor/angular/angular.min.js")
        //- Angular-ui-router
        script(src="/vendor/angular-ui-router/angular-ui-router.min.js")
        //- Angular-ui-bootstrap
        script(src="/vendor/angular-ui-bootstrap/ui-bootstrap-tpls-0.10.0.min.js")
        //- My js
        script(src="/main.js")
