doctype html
html
    head
        block head
        link(href="bower_components/foundation/css/normalize.css", rel="stylesheet")
        link(href="bower_components/foundation/css/foundation.css", rel="stylesheet")
    body
        nav.top-bar
            ul.title-area
                li.name
                    h1
                        a(href="http://dogekb.com/") DogeKb
        block body

