div.col-sm-12.center
    h1 Login
div.col-sm-6.col-sm-offset-3.center
    form(role="form").form-horizontal
        div.form-group
            label(for="emailInput").col-sm-4.control-label Email
            div.col-sm-8
                input(ng-model="email", type="email", id="emailInput", placeholder="Enter email").form-control
        div.form-group
            label(for="passwordInput").col-sm-4.control-label Password
            div.col-sm-8
                input(ng-model="password", type="password", id="passwordInput", placeholder="Enter password").form-control
        div.form-group
            div.col-sm-12
                button(ng-click="login()").btn.btn-success Login
