div.col-sm-12.center
    h1 Signup
div.col-sm-8.col-sm-offset-2.center
    form(role="form").form-horizontal
        div.form-group
            label(for="emailInput").col-sm-4.control-label Email
            div.col-sm-8
                input(type="email", id="emailInput", placeholder="Enter email").form-control
        div.form-group
            label(for="passwordInput").col-sm-4.control-label Password
            div.col-sm-8
                input(type="password", id="passwordInput", placeholder="Enter password").form-control
        div.form-group
            label(for="confirmPasswordInput").col-sm-4.control-label Confirm Password
            div.col-sm-8
                input(type="password", id="confirmPasswordInput", placeholder="Confirm password").form-control
        div.form-group
            div.col-sm-12
                button.btn.btn-success Signup
